<div class="header">
  <h1 id="page-heading">
    Car Rental
  </h1>
  <a mat-raised-button class="nav-button" color="primary" routerLink="/main">Dashboard</a>
  <a mat-raised-button class="nav-button" color="primary" routerLink="/mycars">My Cars</a>
  <a mat-raised-button class="nav-button" color="primary" routerLink="/rentals" *ngIf="userService.currUser.value.isAdministrator">Rentals</a>
  <a mat-raised-button class="nav-button" color="primary" routerLink="/contact">Contact Us</a>
</div>

<mat-form-field appearance="fill">
  <mat-label>Currency</mat-label>
  <mat-select [formControl]="selectedCurrency">
    <mat-option *ngFor="let currency of currencies" [value]="currency">{{currencyEnum[currency]}}</mat-option>
  </mat-select>
</mat-form-field>
<button mat-button (click)="saveSelectedCurrency()">
  select Currency
</button>
