.mat-card {
  margin: 20px;
  width: 300px;
  float: left;
}

.admin-btn-group {
  margin-top: 10px;
}

.table-responsive {
  margin-top: 100px;
  margin-left: 8%;
  margin-right: 8%;
}

.createCarButton {
  align-self: center;
}
