<app-header></app-header>
<div>
  <button mat-button *ngIf="userService.currUser.value.isAdministrator" (click)="openNewCarDialog()" class="createCarButton mat-primary">
    Create a new Car
  </button>

  <div class="table-responsive" id="entities" *ngIf="loadedCars as cars">
    <div *ngFor="let car of cars ;">
      <mat-card>
        <h2>{{ car.brand }} {{ car.type }} </h2>
        <p>Power (KW): {{ car.kwPower }}</p>
        <p>Price ({{car.currency}}): {{ car.price }}</p>
        <p *ngIf="car.isRented">this car is currently rented</p>
        <div class="btn-group">
          <button mat-button type="submit" class="mat-raised-button" (click)="openBookingDialog(car)"
                  [disabled]="car.isRented">
            Book Car
          </button>
          <div class="admin-btn-group" *ngIf="userService.currUser.value.isAdministrator">
            <button mat-button class="mat-primary" (click)="openEditDialog(car)">
              Edit
            </button>
            <button mat-button class="mat-warn" (click)="openDeleteDialog(car.id)">
              Delete
            </button>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
