<div>
  <h1 id="page-heading">
    <span>Car Rental</span>
  </h1>

  <button mat-button (click)="openNewCarDialog()">
    <span>Create a new Car</span>
  </button>

  <mat-form-field appearance="fill">
    <mat-label>Currency</mat-label>
    <mat-select [formControl]="selectedCurrency">
      <mat-option *ngFor="let currency of currencies" [value]="currency">{{currencyEnum[currency]}}</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-button (click)="saveSelectedCurrency()">
    select Currency
  </button>


  <div class="alert alert-warning" id="no-result" *ngIf="cars?.length === 0">
    <span>No cars found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="cars && cars.length > 0">
    <div class="car-wrapper" *ngFor="let car of cars ;">
      <h2>{{ car.brand }} {{ car.type }} </h2>
      <p>Power (KW): {{ car.kwPower }}</p>
      <p>Price ({{car.currency}}): {{ car.price }}</p>
      <p *ngIf="car.isRented">this car is currently rented</p>
      <div class="btn-group">
        <button mat-button type="submit" class="mat-raised-button" (click)="openBookingDialog()"
                [disabled]="car.isRented">
          <span>Book Car</span>
        </button>
        <!--            <div *ngIf="userService.currUser.value.isAdministrator">-->
        <button mat-button class="mat-primary" (click)="openEditDialog(car)">
          <span class="d-none d-md-inline">Edit</span>
        </button>
        <button mat-button class="mat-warn" (click)="openDeleteDialog(car)">
          <span class="d-none d-md-inline">Delete</span>
        </button>
        <!--            </div>-->
      </div>
    </div>
  </div>
</div>
