<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate [formGroup]="editForm">
      <h2>Create or edit a Car</h2>

      <div>

        <div class="form-group">
          <mat-form-field>
            <mat-label class="form-control-label" for="field_type">Car Type</mat-label>
            <input matInput type="text" class="form-control" name="type" id="field_type"
                   formControlName="type"/>
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field>
            <mat-label class="form-control-label" for="field_brand">Brand</mat-label>
            <input matInput type="text" class="form-control" name="brand" id="field_brand"
                   formControlName="brand"/>
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field>
            <mat-label class="form-control-label" for="field_kwPower">Kw Power</mat-label>
            <input matInput type="number" class="form-control" name="kwPower" id="field_kwPower"
                   formControlName="kwPower"/>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field>
            <mat-label class="form-control-label" for="field_pricer">Price</mat-label>
            <input matInput type="number" class="form-control" name="price" id="field_price"
                   formControlName="price"/>
          </mat-form-field>
        </div>

        <mat-form-field appearance="fill">
          <mat-label>Currency</mat-label>
          <mat-select formControlName="currency">
            <mat-option *ngFor="let currency of currencies" [value]="currency">{{currencyEnum[currency]}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <button mat-button (click)="save()" [disabled]="editForm.invalid" class="mat-raised-button">
          <span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
