<mat-card>
  <div>
    <mat-tab-group mat-align-tabs="center" #tabGroup>
      <mat-tab label="Login">
<!--        <h1>CONFIG SERVICE VAL: </h1>-->
<!--        <input type="text" [formControl]="registerGroup.get('testi')" />-->
        <h2>Log In</h2>
        <div class="row">
          <div class="col-8 offset-2">
            <mat-form-field>
              <mat-label>Username</mat-label>
              <input placeholder="username" matInput type="text"
                     [formControl]="usernameControl">
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-8 offset-2">
            <mat-form-field>
              <mat-label>Username</mat-label>
              <input placeholder="password" matInput type="password"
                     [formControl]="passwordControl">
            </mat-form-field>
          </div>
        </div>

        <div class="row"
             *ngIf="loginError.value">
          <div class="col-8 offset-2 err">
            <span>{{loginErrorMessage.value}}</span>
          </div>
        </div>

        <div class="row">
          <div class="col-8 offset-2">
            <button mat-button
                    [disabled]="isBlank()"
                    (click)="login()">
              Login
            </button>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="register">
        <div class="row">
          <h2>Register</h2>
          <div class="col-8 offset-2">
            <mat-form-field>
              <mat-label>First Name</mat-label>
              <input placeholder="First Name" matInput type="text"
                     [formControl]="registerGroup.get('firstname')">
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-8 offset-2">
            <mat-form-field>
              <mat-label>Last Name</mat-label>
              <input placeholder="Last Name" matInput type="text"
                     [formControl]="registerGroup.get('lastname')">
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-8 offset-2">
            <mat-form-field>
              <mat-label>Username</mat-label>
              <input placeholder="Username" matInput type="text"
                     [formControl]="registerGroup.get('username')">
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-8 offset-2">
            <mat-form-field>
              <mat-label>Passwort</mat-label>
              <input placeholder="Password" type="password" matInput
                     [formControl]="registerGroup.get('password')">
            </mat-form-field>
          </div>
        </div>

        <div class="row"
             *ngIf="loginError.value">
          <div class="col-8 offset-2 err">
            <span>{{loginErrorMessage.value}}</span>
          </div>
        </div>

        <div class="row">
          <div class="col-8 offset-2">
            <button mat-button
                    [disabled]="registerGroup.invalid"
                    (click)="register(); tabGroup.selectedIndex=0">
              Registieren
            </button>
          </div>
        </div>

      </mat-tab>
    </mat-tab-group>
  </div>
</mat-card>
