
/*.wrapper {*/
/*  margin: auto;*/
/*  display: flex;*/
/*  flex: auto;*/
/*  align-self: center;*/
/*  align-content: center;*/
/*  align-items: center;*/
/*}*/

.mat-card {
  margin: 3% 40% 0 40%;
}

::ng-deep mat-tab-body {
  text-align: center;
  margin-top: 10%;
}
